<!-- Footer Section -->
<footer id="social_footer_1" class="footer p-t-60 p-b-60">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 text-center">
				<h4>Hope you like it</h4>
				<ul class="list-unstyled list-inline social no-m-b">
					<!-- Social Accounts Links -->
					<li><a href="#"><span class="ti-twitter"></span></a></li>
					<li><a href="#"><span class="ti-facebook"></span></a></li>
					<li><a href="#"><span class="ti-dribbble"></span></a></li>
					<li><a href="#"><span class="ti-google"></span></a></li>
					<li><a href="#"><span class="ti-vimeo"></span></a></li>
					<li><a href="#"><span class="ti-youtube"></span></a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
<!-- End Footer Section -->