<!-- Header -->
<header>
	<nav class="navbar navbar-fixed-top nav-base light-bg" id="minify_nav">
		<div class="container">
			<div class="navbar-header">
				<!-- Responsive Menu Button -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
					<span class="sr-only">Navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<!-- Logo Image -->
				<a href="#hero_8" class="navbar-brand logo-default">
					<%= image_tag ('page_vitrine/logo.png') , alt: "logo" %>
				</a>

				<!-- Logo Image On Scroll -->
				<a href="#hero_8" class="navbar-brand logo-alt">
					<%= image_tag ('page_vitrine/logo.png') , alt: "logo" %>
				</a>

			</div>
			<!-- Navigation -->
			<div id="navigation" class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#features_1">Sections</a></li>
					<li><a href="#product">Services</a></li>
					<li><a href="#pricing_2">Offres</a></li>
					<li><a href="#partners_1">Enseignant</a></li>
					<!-- <li><a href="#contact_1" class="btn btn-secondary" style="margin-left: 10px;">Se Connecter</a></li>
					<li><a href="" class="btn btn-primary" style="margin-left: 10px;">S'inscrire</a></li> -->
				</ul>
			</div>
		</div>
	</nav>
</header>
<!-- End Header -->