<% flash.each do |message_type, message| %>
    <!--<div class="alert alert-<%= message_type %>"><%= message %></div>-->
<script type="text/javascript">
$(document).on('ready',function() {
          BootstrapDialog.show({
                    type: BootstrapDialog.TYPE_<%= message_type.upcase %>,
                    title: 'MonPrepa',
                    message: '<%= message %>'
                });
      });
</script>
<% end %>